<div class="wrapper">
    <button class="qqq gray t2 padding10_20" [disabled]="fileUploadingNow">
        <label for="fileUploadInput" class="fileInputLabel" *ngIf="!fileUploadingNow">
        </label>
        <mat-icon *ngIf="!fileUploadingNow">cloud_upload </mat-icon>
        <mat-icon *ngIf="fileUploadingNow" class="infiniteRotate">
            loop
        </mat-icon>
        <span>
            Upload file
        </span>
        <input type="file" class="qqq" id="fileUploadInput" (change)="handleFileSelect($event)">
    </button><br>
    <div class="uploadStatus">
        {{uploadStatusText}}
    </div>


    <div *ngIf="fileInfo.name" class="selectedFile">
        <br>
        Selected: <b>{{fileInfo.name}}</b> ({{fileInfo.sizeAsString}})
    </div>

    <br>
    Size:
    <div class="qqq field t1">
        <mat-form-field>
            <mat-select class="qqq dark" [(ngModel)]="compressOptions.size">
                <mat-option *ngFor="let item of videoSizeOptions" [value]="item.value" class="qqq dark">
                    {{item.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <br>
    <br>
    Quality:
    <div class="qqq field t1 width100">
        <mat-form-field>
            <mat-select class="qqq dark" [(ngModel)]="compressOptions.crf">
                <mat-option *ngFor="let item of crfOptions" [value]="item.value" class="qqq dark">
                    {{item.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    *CRF {{compressOptions.crf}}
    <br>



    <button class="qqq green t2 m1 marginTop20 padding10_30" (click)="compressVideo()"
        [disabled]="isButtonCompressDisabled">
        <mat-icon>compress</mat-icon>
        <span>Compress</span>
    </button>


    <table class="qqq convertingJobs">
        <!-- <tr>
            <td>File</td>
            <td>Size</td>
            <td></td>
        </tr> -->
        <tr *ngFor="let job of convertingJobs">
            <td>
                {{job.requestedAtAsString}}
                <br>
                {{job.fileName}}
            </td>
            <td>
                {{job.compressOptionsAstString}}
                <br>
                {{job.sourceFile?.sizeAsString}}→{{job.targetFile?.sizeAsString}}

                <span *ngIf="job.status === 'COMPLETED'">
                    <br>
                    Duration: {{job.durationAsString}}
                </span>

            </td>
            <td>
                <ng-container *ngIf="job.status === 'COMPLETED'">
                    <a class="qqq" [href]="job.linkToDownload" [download]="job.targetFile?.originalFileName">
                        <button class="qqq t4 green">
                            <mat-icon>
                                get_app
                            </mat-icon>
                        </button>
                    </a>
                    <button class="qqq t3 gray marginLeft5" (click)="removeJob(job)">
                        <mat-icon>
                            close
                        </mat-icon>
                    </button>
                </ng-container>


                <span *ngIf=" job.status !=='COMPLETED'">
                    {{job.status}}
                </span>
            </td>
        </tr>
    </table>



</div>
