<div class="qqq_theme">
    <div class="menu">
        <button class="qqq close white" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="wrapper">
        <div class="title">
            <span class="titleText">{{incident.title}}</span>
            <div class="meta">
                Expired in {{incident.timeToExpiration}}
            </div>
        </div>
        <div class="description">
            {{incident.description}}
        </div>
        <div class="imgWrapper" *ngIf="incident.photoUrl">
            <img [src]="incident.photoUrl">
        </div>
        <div class="recognizedObjects" *ngIf="incident.recognizedObjectsAsString">
            {{incident.recognizedObjectsAsString}}
        </div>
    </div>
    <div class="footer">
        <div class="counter" *ngIf="incident.statistic">
            <mat-icon>visibility</mat-icon>{{incident.statistic.views}}
        </div>
        <div>
            <div class="author" *ngIf="author.userName" (click)="zoomAuthorPhoto(author.photoUrl)">
                <img [src]="author.smallPhotoUrl" fallbackSrc="/assets/icons/ui/user.svg" >
                <div class="name">{{author.userName}}</div>
            </div>
            <button [matMenuTriggerFor]="incidentMenu" class="qqq white" *ngIf="isOwnIncident">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #incidentMenu="matMenu" class="qqq_theme" xPosition="before">
                <button class="qqq" (click)="removeIncident()">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Delete Incident</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>
