:host {
    background: var(--gray800);
    display: flex;
    padding: 0px;
    min-height: 200px;
    min-width: 320px;
    font-size: 16px;
    position: relative;
}




button.close {
    position: absolute;
    right: 0;
    padding: 12px;
}

button.close:focus {
    box-shadow: none;
}

.wrapper {
    margin-top: 10px;
    padding: 10px;
    max-width: 400px;
    z-index: 100;
    margin-bottom: 50px;

}

.wrapper .title {
    font-size: 18px;
    font-weight: 600;
    color: var(--cyan500);
}

.wrapper .description {
    color: var(--gray100);
}

.footer {
    color: var(--gray100);
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer .counter {
    display: inline-block;
    color: var(--gray300);
}

.footer .counter mat-icon {
    vertical-align: -20%;
    font-size: 20px;
    color: var(--gray400);
}

.author {
    display: inline-block;
    color: var(--gray500);
    vertical-align: -25%;
}

.author .name {
    max-width: 140px;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    margin-left: 3px;
}
.author{
     cursor: pointer;
     -webkit-tap-highlight-color: transparent;
}

.author:hover{
     color: var(--gray400);
}
.author:hover img{
   border: solid 1px var(--gray600);
}
.author img {
    border: solid 1px var(--gray800);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: -40%;
    object-fit: cover;

}


.title .meta {
    color: var(--gray500);
    font-size: 12px;
    font-weight: 400;
}

.title .titleText {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    color: var(--cyan500);
}


.wrapper .recognizedObjects{
    color: var(--gray400);
    font-size: 12px;
}


.imgWrapper {
    width: 300px;
    margin: auto;
    margin-top: 10px;
    text-align: center;

}
.imgWrapper img {
    max-height: 200px;
    object-fit: contain;
    border-radius: 4px;
    object-position: 50% 50%;
    width: 100%;
}
