*node_modules
back/public
.env
back/cert/private.key
back/.DS_Store
back/cert/.DS_Store
back/utils/.DS_Store
back/.DS_Store

.DS_Store
**/nginx_log
**/certbot
back/docker/monitoring/grafana/grafana.db

.env
.env_*
!.env_*.sample
front/src/env.js


back/logs/*
!back/logs/.gitkeep

back/tmp/*
!back/tmp/.gitkeep
front/src/env.js
back/docker/redis_certs/

workers/video_converter/logs/*
!workers/video_converter/logs/.gitkeep
workers/video_converter/tmp/*
!workers/video_converter/tmp/.gitkeep


back/docker/nginx_minio/setup_domain/A_record.json
back/docker/nginx_minio/A_record.json
