*node_modules
back/public
.env
back/cert/private.key
back/.DS_Store
back/cert/.DS_Store
back/utils/.DS_Store
back/.DS_Store

.DS_Store
back/docker/nginx_light/nginx_log
back/docker/nginx_light/certbot
back/docker/monitoring/grafana/grafana.db

.env
.env_*
!.env_*.sample


back/logs/*
!back/logs/.gitkeep

