<div class="qqq_theme">
    <div class="buttonWrapper">
        <button class="qqq" routerLink="/map" routerLinkActive="active">
            <mat-icon>room</mat-icon>
            <span>Map</span>
        </button>
        <button class="qqq" routerLink="/myIncidents" routerLinkActive="active">
            <mat-icon>format_list_bulleted</mat-icon>
            <span>Incidents</span>
        </button>
        <button class="qqq" routerLink="/profile" routerLinkActive="active">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
    </div>
</div>