VAPID_KEY_PRIVATE=...
VAPID_KEY_PUBLIC=...

GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...
TG_AUTH_BOT_TOKEN=...


S3_ACCESS_KEY_ID=someaccesskey
S3_SECRET_KEY=...
S3_END_POINT=minio.incidents.klimpal.com
S3_PORT=443
S3_PUBLIC_BASE_URL=https://minio.incidents.klimpal.com
S3_USE_SSL=false

IMGPROXY_PUBLIC_BASE_URL=https://incidents.klimpal.com/imgproxy

webAppBaseUrl=https://incidents.klimpal.com
googleCallbackAddress=https://incidents.klimpal.com/authentication/google/callback


REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=


PG_HOST=localhost
PG_USER=postgres
PG_PASSWORD=...
PG_DATABSE=local_incidents
PG_PORT=5432

