:host {
    display: block;

}
.headMenu{
    background: rgba(0,0,0,0);
    position: absolute;
    text-align: right;
    z-index: 1;
    padding: 10px;
    opacity: 0.5;
    right: 0px;
}

:host>div {
    display: flex;
    flex-direction: column;
    min-height: calc(100 * var(--vh, 1vh))
}

app-loading-type1 {
    flex-grow: 1;
    display: block;
    align-self: stretch;
}
