:root {

    --primary100: hsl(220, 15%, 98%);
    --primary200: hsl(223, 20%, 95%);
    --primary300: hsl(219, 30%, 91%);
    --primary400: hsl(219, 34%, 82%);
    --primary500: hsl(218, 27%, 69%);
    --primary600: hsl(217, 24%, 54%);
    --primary700: hsl(217, 35%, 41%);
    --primary800: hsl(219, 50%, 33%);
    --primary900: hsl(220, 35%, 22%);

    --gray100: hsl(223, 11%, 98%);
    --gray200: hsl(219, 12%, 94%);
    --gray300: hsl(219, 21%, 86%);
    --gray400: hsl(218, 14%, 70%);
    --gray500: hsl(217, 10%, 54%);
    --gray600: hsl(217, 11%, 41%);
    --gray700: hsl(219, 12%, 31%);
    --gray750: hsl(221, 13%, 25%);
    --gray800: hsl(222, 13%, 20%);
    --gray900: hsl(222, 18%, 10%);

    --red100: hsl(0, 100%, 98%);
    --red200: hsl(343, 67%, 93%);
    --red300: hsl(345, 69%, 87%);
    --red400: hsl(345, 71%, 72%);
    --red500: hsl(345, 64%, 56%);
    --red600: hsl(343, 65%, 41%);
    --red700: hsl(343, 76%, 30%);
    --red800: hsl(347, 70%, 22%);
    --red900: hsl(347, 84%, 14%);


    --green100: hsl(90, 52%, 95%);
    --green200: hsl(90, 53%, 90%);
    --green300: hsl(91, 70%, 84%);
    --green400: hsl(91, 55%, 67%);
    --green500: hsl(92, 50%, 55%);
    --green600: hsl(92, 56%, 41%);
    --green700: hsl(93, 79%, 29%);
    --green800: hsl(95, 75%, 20%);
    --green900: hsl(94, 79%, 14%);


    --blue500: hsl(210, 91%, 48%);
    --pink500: hsl(335, 79%, 54%);
    --cyan500: hsl(189, 50%, 52%);


}
