.qqq_theme .marginLeft5 {
    margin-left: 5px !important;
}

.qqq_theme .marginLeft10 {
    margin-left: 10px !important;
}

.qqq_theme .marginLeft20 {
    margin-left: 20px !important;
}

.qqq_theme .marginLeft50 {
    margin-left: 50px !important;
}

.qqq_theme .marginRight5 {
    margin-right: 5px !important;
}

.qqq_theme .marginRight10 {
    margin-right: 10px !important;
}

.qqq_theme .marginRight20 {
    margin-right: 20px !important;
}

.qqq_theme .marginRight50 {
    margin-right: 50px !important;
}






.qqq_theme .marginTop5 {
    margin-top: 5px !important;
}

.qqq_theme .marginTop10 {
    margin-top: 10px !important;
}

.qqq_theme .marginTop20 {
    margin-top: 20px !important;
}

.qqq_theme .marginTop50 {
    margin-top: 50px !important;
}


.qqq_theme .margin0_5 {
    margin: 0px 5px !important;
}
